<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigoffs.pdaremake">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pdaremake" >
        <activity android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenThemse">


        </activity>
        <activity android:name=".ui.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity">


        </activity>
        <activity android:name=".ui.activity.rfid.RfidQueryActivity" />
        <activity android:name=".ui.activity.pda.PdaQueryActivity" />
        <activity android:name=".ui.activity.pda.UniqueQueryDetailActivity" />
        <activity android:name=".ui.activity.pda.PdaBarcodeQueryFindSamelActivity" />
        <activity android:name=".ui.activity.rfid.FindEpcByBarcodeActivity" />
        <activity android:name=".ui.activity.pda.BarCodeQueryDetailActivity" />
        <activity android:name=".ui.activity.rfid.FindEpcByUniqueActivity" />
        <activity android:name=".ui.activity.pda.InStoreActivity" />
        <activity android:name=".ui.activity.TaskActivity" />
        <activity android:name=".ui.activity.NewInStoreByUniqueDetailActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.activity.InStoreResultActivity" />
        <activity android:name=".ui.activity.NewInStoreByBarCodeDetailActivity" />
        <activity android:name=".ui.activity.rfid.InStoreRfidActivity" />
        <activity android:name=".ui.activity.NewInStoreByBarCodeDetailRfidActivity" />
        <activity android:name=".ui.activity.NewInStoreByUniqueDetailRfidActivity" />
    </application>

</manifest>